.date {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48.18px;
  line-height: 59px;
  text-transform: uppercase;
  color: #fff;
  align-items: start;

  &__day {
    margin: 10px 0 14px;
    padding: 0 8px 0 2.5px;
    color: #040f85;
    background-color: #ffe600;
  }

  &__time {
    font-weight: 800;
  }
}
