#timer {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FF0000;
  margin: 5px 0 5px;
}

#timer2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FF0000;
  margin: 5px 0 5px;
}
