.title {
  &__text {
    font-weight: 700;
    font-size: 28.9924px;
    line-height: 35px;
    color: #FF0000;
  }

  &__signature {
    width: 100%;
    text-align: end;
    padding: 10px 18px 0 0;
    font-weight: 400;
    font-size: 19.1761px;
    line-height: 23px;
    color: #858585;
  }
}
