.title-line {
  &__image1 {
    position: absolute;
    left: 22px;
  }

  &__image2 {
    position: absolute;
    left: 52px;
  }

  &__text {
    font-weight: 600;
    font-size: 38.4673px;
    line-height: 47px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0px 20px 105px;

    @media screen and (max-width: 912px) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__logo {
    position: absolute;
    width: 157.93px;
    height: 55.18px;
    right: 25px;
    bottom: 13px;
    font-size: 19.8806px;
    line-height: 24px;
    border: 2.54135px solid #FFFFFF;


    @media screen and (max-width: 912px) {
      display: none;
    }
  }
}
